* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

.logo {
  font-family: "Rubik";
  color: #ee1338;
  margin-left: 50px;
  margin-top: 40px;
}

section {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.jumbotron {
  padding-top: 6rem;
}

.sosial ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sosial ul li {
  margin: 0 15px;
}

.sosial ul li .fa {
  font-size: 25px;
  line-height: 50px;
  transition: 0.6s;
  color: #ee1338;
}

.sosial ul li a {
  display: block;
  width: 30px;
  height: 50px;
  text-align: center;
}

.sosial ul li .fa:hover {
  color: #ff8f8f;
}

.typing {
  color: #ee1338;
  font-family: "Dancing Script";
  margin: 0;
}

.row {
  color: #ee1338;
}

.col {
  color: #ee1338;
}

.progress-bar {
  background: #ee1338;
}

.progress {
  height: 1.5rem;
}
